* {
    margin: 0;
    padding: 0;
}

.main-header {
    height: 500px;

    background-image: url('Assets/bg-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.main-header .header-content {
    display: flex;
    flex-direction: column;
    gap: 24%;

    height: 100%;
    padding: 24px;
}

.header-menu {
    align-self: flex-end;

    margin-right: 4%;
}

.header-list {
    display: flex;
    gap: 24px;

    list-style: none;
}

.header-item {
    padding: 16px;

    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-item:hover {
    background-color: rgba(0, 0, 0, 0.7);

    transition: 0.8s;
}

.header-item a {
    color: white;
    text-decoration: none;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 48px;

    text-align: center;

    color: white;
}

.header-h1 {
    font-size: 48px;
    text-shadow: -2px 2px 1px black;
}

.header-p {
    font-size: 18px;

    width: fit-content;
    padding: 16px;

    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
}

.main-content {
    padding: 32px;

    background-color: gainsboro;
}

.content-wrapper {
    width: 80%;
    margin: auto;
}

.main-posts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.post-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 28px;

    background-color: white;
}

.post-header {
    padding: 8px;

    border-bottom: 2px solid black;
    background-color: rgb(219, 223, 223);
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.post-content a {
    display: block;

    width: fit-content;
    padding: 12px;

    border: 1px solid grey;
    border-radius: 12px;
    background-color: rgb(179, 179, 179);
}